@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'League Spartan', sans-serif;
    background: linear-gradient(180deg, #111, #1b1b1b);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #fff;
}

.container {
    width: 90%;
    max-width: 420px;
    background: #1f1f1f;
    padding: 35px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 20px 50px rgba(0,0,0,.4);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-bottom: 25px;
}

.logo img {
    width: 42px;
}

.logo h1 {
    font-size: 40px;
    font-weight: 900;
}

h2 {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 35px;
}

p {
    color: #bcbcbc;
    margin-bottom: 30px;
    line-height: 24px;
}

.botaoSelecionar {
    display: block;
    width: 100%;
    background: #2f80ed;
    color: white;
    padding: 16px;
    border-radius: 12px;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 20px;
}

.botaoSelecionar:hover {
    background: #1d6fdc;
}

input[type="file"] {
    display: none;
}

button {
    width: 100%;
    padding: 18px;
    border: none;
    border-radius: 14px;
    background: #f59e0b;
    color: #111;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: .5px;
    cursor: pointer;
    transition: all .25s ease;
}

button:hover {
    background: #ffb323;
    transform: translateY(-2px);
}

.mensagem {
    display: none;
    margin-top: 20px;
    color: #5cff87;
    font-weight: bold;
}
.texto {
    margin-bottom: 30px;
}

.progresso {
    margin-top: 25px;
    display: none;
}

.progresso progress {
    width: 100%;
    height: 10px;
}

#percentual {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: #bdbdbd;
}

.termos {
    margin-top: 35px;
    font-size: 13px;
    line-height: 1.6;
    color: #8f8f8f;
}

.termos strong {
    color: #ffffff;
}